body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* background: linear-gradient(135deg, #6a11cb, #2575fc); */
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  display: flex;
  width: 800px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.login-left {
  flex: 1;
  background: #6a11cb;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.login-left .login-img {
  max-width: 250px;
}

.login-right {
  flex: 1;
  padding: 40px;
}

.login-right h2 {
  margin-bottom: 20px;
  color: #6a11cb;
}

.login-right form {
  display: flex;
  flex-direction: column;
}

.login-right label {
  margin: 10px 0 5px;
  font-weight: 500;
}

.login-right input {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #6a11cb;
  outline: none;
}

.login-right button {
  margin-top: 20px;
  padding: 12px;
  border: none;
  background: #6a11cb;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.login-right button:hover {
  background: #2575fc;
}

.extra-links {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.extra-links a {
  color: #6a11cb;
  text-decoration: none;
}

.error {
  color: red;
  margin-top: 10px;
}


.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
  padding-right: 40px; /* space for icon */
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #555;
}